@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="~/lib/caja.png" class="img-fluid">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form>
                   <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example3">Usuario</label>
                        <input type="text" name="user" class="form-control form-control-lg"
                               placeholder="Ingresa tu usuario" />
                    </div>

                    <div class="form-outline mb-3">
                        <label class="form-label" for="form3Example4">Contraseña</label>
                        <input type="password" name="pass" class="form-control form-control-lg"
                               placeholder="Ingresa tu contraseña" />     
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <input type="submit" value="Entrar" class="btn btn-primary" />
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>

<form>

    User:
    <input type="text" name="user" class="form-control" />
    <br />
    Password:
    <input type="password" name="pass" class="form-control" />
    <br />
    <input type="submit" value="Entrar" class="btn btn-primary" />


</form>
